CREATE TABLE public.demand (
    publish_time TIMESTAMPTZ NOT NULL,
    start_time TIMESTAMPTZ NOT NULL,
    demand_mw double precision NOT NULL,
    UNIQUE (publish_time, start_time)
);

CREATE TABLE public.generation (
    source VARCHAR(20) NOT NULL,
    publish_time TIMESTAMPTZ NOT NULL,
    start_time TIMESTAMPTZ NOT NULL,
    fuel_type VARCHAR(50) NOT NULL,
    generation_mw double precision NOT NULL,
    UNIQUE (source, publish_time, start_time, fuel_type)
);

CREATE TABLE public.locations (
    location_id integer PRIMARY KEY,
    location_name VARCHAR(50) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL
);

CREATE TABLE public.ndf (
    publish_time TIMESTAMPTZ NOT NULL,
    forecast_time TIMESTAMPTZ NOT NULL,
    forecast_demand_mw double precision NOT NULL,
    UNIQUE (publish_time, forecast_time)
);

CREATE TABLE public.ndfd (
    publish_time TIMESTAMPTZ NOT NULL,
    forecast_date date NOT NULL,
    forecast_demand_mw double precision NOT NULL,
    UNIQUE (publish_time, forecast_date)
);

CREATE TABLE public.weather_forecasts (
    location_id integer NOT NULL,
    forecast_time TIMESTAMPTZ NOT NULL,
    temperature_2m double precision,
    relative_humidity_2m double precision,
    apparent_temperature double precision,
    snowfall double precision,
    rain double precision,
    showers double precision,
    weather_code integer,
    UNIQUE (location_id, forecast_time),
    FOREIGN KEY (location_id) REFERENCES public.locations(location_id)
);